.notificationBox {
  border: 1px solid rgb(38, 57, 77);
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  width: 400px;
  text-align: center;
}

.start {
  left: 0;
}

.center {
  margin-left: -200px;
}

.end {
  right: 0;
}

.fadeOut {
  animation: 5s fadeOut;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .notificationBox {
    width: 100%;
    box-sizing: border-box;
  }

  .center {
    margin-left: 0;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
